{% load staticfiles %}
{% load humanize %}

<!doctype html>
<html>
    <head>
        <title>
            {% block title %}
                My Hello Web App Project
            {% endblock title %}
        </title>
       
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
       
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
            
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        
        {% block header %}{% endblock header %}
    
    </head>
    
    <body>
        <header>
		<h1><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""/></a></h1>
            <nav>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
            </nav>
        </header>
        
        {% block content %}{% endblock content %}
        {% block footer %}
        <footer>
		<ul>
			<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			<li><a href="#"><i class="fa fa-mobile"></i></a></li>
			<li><a href="#"><i class="fa fa-github"></i></a></li>
			<li><a href="#"><i class="fa fa-skype"></i></a></li>
		</ul>
		<p>Richard Hill © 2017</p>
		</footer>
        {% endblock footer %}
    
    </body>
</html>